
<h1>HOME</h1>

<input type="text" name="daterange" value="" />

<script type="text/javascript">
$(function() {
    $('input[name="daterange"]').daterangepicker({
      format: 'dd/mm/yyyy'
    });
});
</script>
